.jumbotron {
    margin: 0;
    padding: 40px;
    background: rgba(rgb(255, 255, 255),.5);
}

#logohead {
    font-family: serif;
    font-size: 55px;
}

#logoheadnotmain {
    font-family: serif;
    font-size: 55px;
    text-align: center;
}

#logobod {
    font-family: sans-serif;
    font-size: 17px;
}

.navbar {
    font-size: 20px;
}

.carouselImage {
    height: 100%;
    width: 100%;
}

.bottomright {
    position: fixed;
    z-index: 8000;
    width: 65px;
    height: 65px;
    right: 30px;
    bottom: 2em;
    border-radius: 35px;
    box-shadow: 3px 3px 10px rgb(23 25 25 / 70%);
    transition: transform .3s ease-in-out;
}

#navnotmain {
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

#logonotmain {
    text-decoration: none; 
    background-color: none; 
    color: black;
}

#galleryimage {
    width: 500px;
}

#contactp {
    font-size: 20px;
}

#mug {
    margin-top: 100px;
    margin-bottom: 50px;
}

#contactlabel {
    font-size: 15px;
    text-align: center;
    margin-top: 8px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.imagedescription {
    width: 500px;
}

.vertical-center {
    margin-top: 10px;
    left: 50%;
    position: relative;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .imagetitle {
      font-family: serif;
      margin-top: 10px;
      text-align: center;
  }

  .leftright {
      left: 50%;
      right: 50%;
  }

  .imagedisplayresponsive {
      width: 80%;
      height: auto;
  }

  .centergallery {
    display: block;
    margin: 20px;
    width: 100%;
  }